html,
body,
#__next {
  height: 100%;
  width: 100%;
  background: #000000;
  color: rgba(255, 255, 255, 0.92);
}

html {
  scroll-behavior: smooth;
}

#nprogress .bar {
  background: #f2aa4cff;
}

#nprogress .spinner-icon {
  border-top-color: #f2aa4cff;
  border-left-color: #f2aa4cff;
}

@media only screen and (max-width: 768px) {
  #nprogress .spinner-icon {
    display: none;
  }
}
